.custom-shape-divider-top-1728254966 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1728254966 svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 140px;
}

.custom-shape-divider-top-1728254966 .shape-fill {
    fill: #6D4353;
}




/* #Shape Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.shape-section {

  border-bottom: 2px solid #555;
  border-top: 2px solid #555;
  margin-top: 30px;
  padding: 40px 0;
}
.diamond-shape {
  /* background: #fff;*/
  border: 1px solid #fff;
  
  height: 80px;
  text-align: center;
  transform:rotate(45deg);
  width:80px;
}
.item-count {
  color: #333;
  display: table-cell;
  height: 60px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:60px;
}
