<IfModule mod_rewrite.c>
    Options -Indexes

    RewriteEngine On
    RewriteBase /


    RewriteCond %{REQUEST_URI} !\.(css|js|php|html|png|jpg|jpeg|gif|ico|pdf|svg|webp)$ [NC]
    RewriteCond %{REQUEST_URI} !manifest$ [NC]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.html [L]
</IfModule>



<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    Header set Access-Control-Max-Age "1000"
    Header set Access-Control-Allow-Headers "x-requested-with, Content-Type, origin, authorization, accept, client-security-token"
</IfModule>
